.form-section {
}
.form-row {
}

.row {
  // border: red solid 1px;
  padding: 1rem 0;
}

form {
  .row {
  }
  font-weight: 500;
  font-size: 1rem;
  textarea {
    min-height: 9rem;
  }
  input[type='text'] {
    height: 2.5rem;
  }
  input[type='text'],
  textarea {
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: solid 1px rgba($gray, 0.8);
    border-radius: 0;
    &::placeholder {
      color: rgba($gray, 0.5);
      font-style: italic;
      font-weight: 500;
    }
    margin-bottom: 0;
  }
  input[type='checkbox'] {
    display: initial;
    visibility: hidden;
    width: 0;
  }
  .radio {
    padding: 7px 10px;
    margin-bottom: 0;
  }
  .checkbox {
    display: block;
    margin-bottom: 0;
    padding: 0;
    label {
      font-size: 1rem;
      margin: 0;
      padding: 0 0 0 20px;
      text-indent: -20px;
    }
  }
}

.additional-project-types {
  .checkbox {
    padding-left: 4rem;
    @include breakpoint($small-only) {
      padding-left: 2rem;
    }
    label {
      display: block;
      font-size: 1rem;
      margin: 0;
      padding: 0 0 0 20px;
      text-indent: -20px;
    }
  }
}
.certificate-mark {
  .checkbox {
    padding-left: 4rem;
    @include breakpoint($small-only) {
      padding-left: 2rem;
    }
    label {
      display: block;
      font-size: 1rem;
      margin: 0;
      padding: 0 0 0 20px;
      text-indent: -20px;
    }
  }
}

.explanation-select {
  .select {
    @include breakpoint($medium) {
      text-indent: 0;
    }
    @include breakpoint($large) {
      text-indent: 1.5rem;
    }
  }
}

.form-heading {
  font-weight: 600;
  padding: 1rem 0;
}

.js-add-url-inputs-field {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 1rem !important;
  @include breakpoint($medium-only) {
    margin-left: 1rem !important;
  }
  @include breakpoint($small-only) {
    margin-left: 0 !important;
  }
  i {
    &:hover {
      color: rgba($gray, 0.85);
      cursor: pointer;
    }
  }
  @extend .u-transition;
  text-transform: uppercase;
  &::after {
    content: 'Add another citation';
    padding-left: 2rem;
    vertical-align: 0.35rem;
  }
  i {
  }
}

.js-remove-field {
  &:hover {
    color: rgba($gray, 0.85);
    cursor: pointer;
  }
  font-size: 1rem;
  margin: 1.5rem 0.9rem;
  @include breakpoint($small-only) {
    margin: auto;
  }
}

.project-version-label {
  @include breakpoint($small-only) {
    padding-top: 0.5rem;
  }
  @include breakpoint($medium-only) {
    padding-top: 0.5rem;
  }
}

#relationship {
  min-height: 2rem;
}

.single-checkbox-field {
  .checkbox {
    display: inline-block;
    label {
      font-size: 1rem;
      margin: 0;
      padding: 0 0 0 20px;
      text-indent: -20px;
    }
  }
}

.select-previous-versions {
  background: none !important;
  &::before {
    display: none;
  }
}

.instructions {
  font-style: italic;
  font-size: 0.9rem;
}

.single_checkbox_label {
  font-weight: 500;
  font-size: 1rem !important;
}
