form {
  input[type='text'],
  textarea {
    border-bottom: solid 2px rgba($gray, 0.3);
    background-color: rgba($gray, 0.1);
    &::placeholder {
      color: rgba($gray, 0.5);
      font-style: italic;
      font-weight: 500;
    }
  }
  input[type='checkbox'] {
    display: initial;
    visibility: hidden;
    width: 0;
  }
  .checkbox {
    display: block;
    label {
      margin: 0;
      padding: 0 0 0 20px;
      text-indent: -20px;
      font-size: 0.8rem;
    }
  }
}

.additional-project-types {
  .checkbox {
    width: 25%;
    display: inline-block;
    label {
      display: block;
      margin: 0;
      padding: 0 0 0 20px;
      text-indent: -20px;
      font-size: 0.8rem;
    }
  }
}

.project-version-label {
  display: flex;
}

.single-checkbox-field {
  .checkbox {
    display: inline-block;
    label {
      margin: 0;
      padding: 0 0 0 20px;
      text-indent: -20px;
      font-size: 0.8rem;
    }
  }
}

.select-previous-versions {
  background: none !important;
  &::before {
    display: none;
  }
}

.url_title,
.url_address {
  display: inline-block;
  width: 50px;
}

.js-remove-field {
  font-size: 1rem;
  margin: auto;
}

.js-add-url-inputs-field {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  &::after {
    content: 'Add another citation';
    vertical-align: 0.35rem;
  }
  i {
    padding-right: 1rem;
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
