label.error {
  color: $error;
}

#textarea-message {
  color: $success;
}

#textarea-message.error-message {
  color: $error;
}

ul.error-messages {
  color: $error;
  list-style: none;
  margin: 0;
}

label[id^='citations['] {
  display: block;
}

.citation-error {
  display: block;
  width: 100%;
}
