#certify,
#apply {
  .page-content-wrapper {
  }
  .page-section {
    padding-top: 0;
    padding-bottom: 2rem !important;

    color: $gray;
    h2 {
      font-size: 1.7rem;
      font-weight: 700;
      color: $purple;

      display: inline-block;
      @include breakpoint($medium-only) {
        display: block;
        font-size: 1.5rem;
      }
    }
    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: $purple;
    }
    p {
      font-size: 1rem;
    }
    .section-header {
      margin: 1.3rem 0;
      color: $purple;
      font-size: 1.7rem;
      font-weight: 700;
      float: right;
      @include breakpoint($medium-only) {
        display: block;
        float: none;
        font-size: 1.3rem;
      }
      @include breakpoint($small-only) {
        display: block;
        float: none;
        font-size: 1.3rem;
      }
      text-transform: uppercase;
    }
    .button-container {
      text-align: right;
    }
    .button {
      padding: 0.6rem 2.2rem;
      margin: 1.2rem auto;
      &--purple {
        background-color: $purple;
        color: #fff;
        font-size: 1rem;
        font-weight: 800;
        @include breakpoint($medium-only) {
          font-size: 0.8rem;
        }
        &:hover {
          background-color: darken($purple, 10);
          color: #fff;
          @extend .u-transition;
        }
      }
    }
  }
}
