.select-previous-versions {
  padding: 0;
  border-radius: 0;
}

.select2-container--default .select2-selection--multiple {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
  border-radius: 0;
  cursor: text;
  padding: 0.5rem 0 0 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px rgba($gray, 0.3);
  width: 100%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
  outline: 0;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid rgba($gray, 0.1);
}

.select2-selection__choice__remove {
  color: transparent !important;
  &::before {
    content: 'remove_circle';
    @extend .u-material-icons;
    display: inline-block;
    color: $gray;
    font-size: 0.9rem;
  }
}

.select2-search,
.select2-search--inline {
  &::before {
    content: 'Enter an existing OSHWA UID: ';
    font-style: italic;
    color: rgba($gray, 0.5);
  }
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  white-space: initial;
}
