.top-section {
  h1 {
    font-size: 2rem;
    @include breakpoint($small-only) {
      font-size: 1.5rem !important;
    }
  }
  margin-top: -50px;
  position: relative;
  .img-overlay {
    background-color: transparentize(white, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .intro {
    z-index: 2;
  }

  &--apply {
  }
  &--certify,
  &--apply {
    a {
      color: $white;
      font-size: 1.1rem;
      font-weight: 600;
      padding-left: 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: darken($purple, 10);
      }
    }
    img {
      margin-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 100;
    }
    h1 {
      color: $white;
      font-size: 2rem;
      font-weight: 700;
      padding-left: 10px;
      text-transform: uppercase;
    }

    p {
      padding-left: 10px;
    }

    background-color: $purple;
    background-image: url('/images/patent-line.png');
    background-size: 40%;
    background-position: 90% 0%;
    background-repeat: no-repeat;
    padding: 8rem 0 4rem 0;
    color: #fff;
    text-align: left;

    @include breakpoint($medium-only) {
      background-size: 55%;
      background-position: 100% 60%;
    }
    @include breakpoint($small-only) {
      background-image: none;
    }

    color: $white;
    font-size: 0.9rem;
    font-weight: 500;
    .button {
      margin-left: 10px;
      &--purple {
        background-color: $purple;
        color: $white;
        font-size: 1rem;
        @include breakpoint($medium-only) {
          font-size: 0.8rem;
        }
        &:hover {
          background-color: darken($purple, 10);
          color: $white;
          @extend .u-transition;
        }
      }
    }
    .img-overlay {
      background-color: $purple;
      position: initial;
    }
    padding: 8rem 0 4rem 0;
    padding-bottom: 70px;
    text-align: left;
  }
}
