<footer class='footer'>
  <div class="row expanded">
    <div class="column large-4 small-12 medium-4">
      <nav class="footer__nav">
        <a href="/">Certify a Project</a>
        <a href="https://objectively.is/oshwa/process.html">The Certification Process</a>
        <a href="https://objectively.is/oshwa/list.html">Certified Projects</a>
        <a href="https://objectively.is/oshwa/basics.html">Basics</a>
        <a href="https://objectively.is/oshwa/basics/faq.html">Frequently Asked Questions</a>
        <a href="https://www.oshwa.org/">About OSHWA</a>
        <a href="https://objectively.is/oshwa/privacy-policy.html">Privacy Policy</a>
      </nav>
    </div>
    <div class="column large-4 small-12 medium-4">
      <div class="footer__description">
        <p>Open source hardware certification provides an easy and straightforward way for producers to indicate that their products meet the community definition of open source hardware, a uniform and well-defined standard for open-source compliance.</p>
      </div>
    </div>
    <div class="column large-4 small-12 medium-4">
      <div class="footer__partners">
        <a target="_blank" href="https://www.oshwa.org/"><img src="/images/oshwa-white.png" alt="Open Source Hardware Certification Logo"></a>
        <a target="_blank" href="https://sloan.org/"><img src="/images/sloan-white.png" alt="Alfred P. Sloan Foundation Logo"></a>
        <a target="_blank" href="http://www.law.nyu.edu/academics/clinics/semester/technologylawandpolicy"><img src="/images/tlpc-white.png" alt="Technology Law and Policy Clinic Logo"></a>
        <a target="_blank" href="https://objectively.is/"><img src="/images/objectively-white.png" alt="objectively Logo"></a>
      </div>
    </div>
  </div>
</footer>