<header class="top-bar top-bar--certify">
  <span class="top-bar__button top-bar__button--certify js-trigger-menu">menu</span>
  <nav class="menu js-target-menu">
    <div class="row expanded">
      <i class="menu__icon material-icons close-menu">close</i>
      <a href="https://objectively.is/oshwa"> <i class="menu__icon menu__icon--home material-icons">home</i></a>
      <div class="column large-3 small-12">
        <a class="menu__title-link" href="/"><h1>Certify a project</h1></a>
        <div class="menu__link-container">
          <a href="/apply">Get Started</a>
        </div>
      </div>
      <div class="column large-3 small-12">
        <a class="menu__title-link" href="https://objectively.is/oshwa/process.html"><h1>The Certification Process</h1></a>
        <div class="menu__link-container">
          <a href="https://objectively.is/oshwa/process.html">Introduction</a>
          <a href="https://objectively.is/oshwa/process/hardware.html">Hardware</a>
          <a href="https://objectively.is/oshwa/process/software.html">Software</a>
          <a href="https://objectively.is/oshwa/process/documentation.html">Documentation</a>
          <a href="https://objectively.is/oshwa/process/branding.html">Branding</a>
        </div>
      </div>
      <div class="column large-3 small-12">
        <a class="menu__title-link" href="https://objectively.is/oshwa/directory.html"><h1>Projects</h1></a>
        <div class="menu__link-container">
          <a href="https://objectively.is/oshwa/list.html">Project Listing</a>
        </div>
      </div>
      <div class="column large-3 small-12">
        <a class="menu__title-link" href="https://objectively.is/oshwa/basics.html"><h1>Open Source Hardware Basics</h1></a>
        <div class="menu__link-container">
          <a href="https://objectively.is/oshwa/basics/faq.html">Frequently Asked Questions</a>
          <a href="https://www.oshwa.org/">About OSHWA</a>
        </div>
      </div>
    </div>
  </nav>
</header>
