<header class="top-bar top-bar--certify">
  <span class="top-bar__button top-bar__button--certify js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="https://objectively.is/oshwa">Home</a>
    <a href="https://objectively.is/oshwa/basics.html">Basics</a>
    <a href="https://objectively.is/oshwa/basics/faq.html">FAQ</a>
    <a class="process--header-link" href="https://objectively.is/oshwa/process.html">Certification Process</a>
    <a class="process--link" href="https://objectively.is/oshwa/process/hardware.html">Hardware</a>
    <a class="process--link" href="https://objectively.is/oshwa/process/software.html">Software</a>
    <a class="process--link" href="https://objectively.is/oshwa/process/documentation.html">Documentation</a>
    <a class="process--link process--link--last" href="https://objectively.is/oshwa/process/branding.html">Branding</a>
    <a href="https://oshwa-certify.herokuapp.com/">Certify a Project</a>
    <a href="https://objectively.is/oshwa/directory.html">Project Directory</a>
  </nav>
</header>
