<header class="top-bar top-bar--certify">
  <span class="top-bar__button top-bar__button--certify js-trigger-menu">menu</span>
  <nav class="menu js-target-menu">
    <div class="row expanded">
      <i class="menu__icon material-icons close-menu">close</i>
      <a href="https://certification.oshwa.org"> <i class="menu__icon menu__icon--home material-icons">home</i></a>
      <div class="column large-3 small-12">
        <a class="menu__title-link" href="/"><h1>Certify a project</h1></a>
        <div class="menu__link-container">
          <a href="/apply">Get Started</a>
          <a href="https://certification.oshwa.org/requirements.html">Requirements</a>
          <a href="https://certification.oshwa.org/license-agreement.html">License Agreement</a>
        </div>
      </div>
      <div class="column large-3 small-12">
        <a class="menu__title-link" href="https://certification.oshwa.org/process.html"><h1>The Certification Process</h1></a>
        <div class="menu__link-container">
          <a href="https://certification.oshwa.org/process.html">Introduction</a>
          <a href="https://certification.oshwa.org/process/hardware.html">Hardware</a>
          <a href="https://certification.oshwa.org/process/software.html">Software</a>
          <a href="https://certification.oshwa.org/process/documentation.html">Documentation</a>
          <a href="https://certification.oshwa.org/process/branding.html">Branding</a>
        </div>
      </div>
      <div class="column large-3 small-12">
        {{!-- <a class="menu__title-link" href="https://certification.oshwa.org/directory.html"><h1>Projects</h1></a> --}}
        <div class="menu__title-link menu__title-link--disable" href="https://certification.oshwa.org/directory.html"><h1>Projects</h1></div>
        <div class="menu__link-container">
          <a href="https://certification.oshwa.org/list.html">Project Listing</a>
        </div>
      </div>
      <div class="column large-3 small-12">
        <a class="menu__title-link" href="https://certification.oshwa.org/basics.html"><h1>Open Source Hardware Basics</h1></a>
        <div class="menu__link-container">
          <a href="https://certification.oshwa.org/basics/faq.html">Frequently Asked Questions</a>
          <a href="https://certification.oshwa.org/about.html">About</a>
          <a href="https://www.oshwa.org">OSHWA</a>
        </div>
      </div>
    </div>
  </nav>
</header>
