<header class="top-bar top-bar--certify">
  <span class="top-bar__button top-bar__button--certify js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="/">Home</a>

  </nav>
</header>
