<main role="main" id="apply"> <!-- main content starts here -->

  <section class="top-section top-section--apply">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-5 intro">
        <h1>{{title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row expanded">
      <div class="column large-12">
        <form autocomplete="off" method="POST" action="/apply">
        {{> form_sections/section_one sectionOne=sectionOne}}
        {{> form_sections/section_two sectionTwo=sectionTwo}}
        {{> form_sections/section_three sectionThree=sectionThree}}
        {{> form_sections/section_four sectionFour=sectionFour}}
        </form>
      </div>
    </div>
  </section>

</main>
