<main role="main" id="apply"> <!-- main content starts here -->

  <section class="top-section top-section--apply">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-5 intro">
        <h1>{{title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row">
      <div class="column large-12">
      {{#if errors}}
        {{> errors errors=errors}}
      {{/if}}
        <form autocomplete="off" method="POST" action="/apply">
        {{> form_sections/section_one sectionOne=sectionOne project=project}}
        {{> form_sections/section_two sectionTwo=sectionTwo project=project}}
        {{> form_sections/section_three sectionThree=sectionThree project=project}}
        {{> form_sections/section_four sectionFour=sectionFour project=project}}
        </form>

      </div>
    </div>
  </section>

</main>




