<main role="main" id="certify"> <!-- main content starts here -->

  <section class="top-section top-section--certify">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-8 intro">
        <h1>{{title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row expanded">
      <div class="column large-12">
        {{{markdownify message}}}
      </div>
    </div>
    <div class="row confirmation--button">
      <div class="column large-12">
        <a class="button button--purple" href="/">Go back to the homepage</a>
      </div>
    </div>

  </section>

</main>
