<main role="main" id="certify"> <!-- main content starts here -->

  <section class="top-section top-section--certify">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-5 intro">
        <h1>{{error.status}}: {{message}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row expanded">
      <div class="column large-12 error-page">
        <p>We couldn't find what you were looking for.</p>
        <a class="button button--purple" href="/apply">Go back to the homepage</a>
      </div>
    </div>
  </section>

</main>
