<main role="main" id="index"> <!-- main content starts here -->

<section class="top-section top-section--purple">
  <div class="row">
    <div class="medium-12 column">
      <h1>{{title}}</h1>
      <p class="top-section__tagline">{{error.status}}</p>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="row">
    <div class="column large-12">
      <pre>
        {{error.stack}}
      </pre>
    </div>
  </div>
</section>


</main>
