<main role="main" id="certify"> <!-- main content starts here -->

  <section class="top-section top-section--certify">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-5 intro">
        <h1>{{ title }}</h1>
        <p>The purpose of certification is to provide an easy and straightforward way for producers to indicate that their products meet the community definition of open source hardware, a uniform and well-defined standard for open-source compliance.</p>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row expanded">
      <div class="column large-12">
        <h2>{{ secondHeader }}</h2>
        <p>Any producer may self-certify at any time that their products meet the requirements for an Open Source Hardware Association Certification. In order to do this, the certifying party must submit a completed Certification Mark License Agreement. The Open Source Hardware Association will then review the Agreement and, if appropriate, certify the product as open source.  Certified products receive a unique identifier and permission to use the OSHWA Open Source Hardware Certification Logo.  Completing this process signifies that the certifying party meets the requirements outlined in this document and binds the certifying party to follow the <a href="https://github.com/oshwa/certification-mark/blob/master/README.md" target="_blank" alt="Certification Mark Usage Guidelines">Certification Mark Usage Guidelines</a>. A list of all certified producers is available in the project directory.</p>
      <div class="row align-right">
        <div class="columns button-container">
          <a class="button button--purple" href="/apply">Get Started</a>
        </div>
      </div>
    </div>
  </section>

</main>
